.page-not-found {
    opacity: .3;
    display: flex;
    font-size: 20vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}