// Nav-bar variables
$navBorder: #000000;
$navTextColor: #e7e7e7;
$navBackgouround: #24292e;
$navInputBackground: #3F4448;
$navTextOnFocusColor: #24292e;
$navInputOnFocusBackground: #e7e7e7;

//User profile
$userDataBorder: #3f44483b;
$userProfileShadow:#0000001a;
$userProfileDataValue: #24292e;
$userProfileDataHeader: #3F4448;

// profile Summary
$borderColor: #3f44483b;
