nav {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  position: -webkit-sticky;
  position: sticky;
  border-left: none;
  border-left: none;
  border-right: none;
  border-right: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  border: 1px solid #000000;
  background-color: #24292e;
}

nav .logo {
  letter-spacing: 2px;
  font-size: 20px;
}

nav .logo .primary {
  font-weight: 600;
}

nav .logo .secondary {
  font-weight: 400;
}

nav .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

nav .search-input input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  color: #e7e7e7;
  background-color: #3F4448;
}

nav .search-input input:focus {
  color: #24292e;
  background-color: #e7e7e7;
}

nav .nav-back {
  display: inline;
  text-decoration: none;
  color: #e7e7e7;
  padding-left: 20px;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo, .nav-back {
    padding: 10px 20px 0 10px;
  }
  input {
    width: 100%;
    margin: 10px 0 10px 0;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 0 20px 0 10px;
  }
  input {
    width: 40%;
    -webkit-transition: width .5s, background-color .2s;
    transition: width .5s, background-color .2s;
  }
  input:focus {
    width: 70%;
  }
}

.user-profile {
  margin: 20px 5px 5px 5px;
}

.user-profile .user-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile .user-intro img {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid #3f44483b;
}

.user-profile .user-intro .intro-username {
  font-weight: 600;
  text-transform: uppercase;
}

.user-profile .user-intro .intro-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.user-profile .user-intro .intro-repo, .user-profile .user-intro .intro-following, .user-profile .user-intro .intro-followers {
  color: #3F4448;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.user-profile .user-intro .intro-repo .count, .user-profile .user-intro .intro-following .count, .user-profile .user-intro .intro-followers .count {
  font-weight: 500;
}

.user-profile .user-details {
  padding: 5px;
}

.user-profile .user-details .detail-repo, .user-profile .user-details .detail-following, .user-profile .user-details .detail-followers {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .user-profile, .user-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .user-intro {
    width: 28%;
  }
  .user-details {
    width: 72%;
  }
  .detail-repo, .detail-following, .detail-followers {
    margin-left: 5px;
    width: 100%;
  }
  .intro-summary {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .intro-summary {
    border: 1px solid #3f44483b;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 10px;
  }
}

.user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin: 0 5px 5px 5px;
  text-decoration: none;
}

.user-data .user-avatar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #3f44483b;
  border-radius: 5% 0 0 5%;
}

.user-data .user-avatar img {
  width: 100%;
  border-radius: 5% 0 0 5%;
}

.user-data .user-card {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-left: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 5% 5% 0;
  border: 1px solid #3f44483b;
  border-left: none;
}

.user-data .user-card .username {
  text-transform: uppercase;
  color: #24292e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 640px) {
  .user-data {
    width: 32%;
  }
}

@media screen and (max-width: 978px) {
  .user-data {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .user-data {
    width: 100%;
  }
}

.connection-repository {
  padding: 2px 0 2px 5px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #3f44483b;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  color: inherit;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid #3f44483b;
}

.connection .connection-username {
  margin-left: 10px;
  text-transform: uppercase;
}

.connection img {
  width: 30px;
  border-radius: 50%;
}

.loader-body {
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.6;
  min-height: 82vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-body .loader {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.loader-body .loader .square {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: inline-block;
  background-color: #161616b2;
  -webkit-animation: grow 1.5s linear infinite;
          animation: grow 1.5s linear infinite;
}

.loader-body .loader .square:nth-child(2) {
  background-color: #474747b2;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loader-body .loader .square:nth-child(3) {
  background-color: #999999a1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader-body .loader-text {
  margin-left: 10px;
  opacity: .8;
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.message-note {
  top: 10vh;
  opacity: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 82vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7e7e7;
  background-color: #24292e;
}

.pagination .previous, .pagination .next {
  width: 50%;
  cursor: pointer;
}

.pagination .previous.disabled, .pagination .next.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.pagination .previous {
  text-align: right;
  margin-right: 20px;
}

.pagination .next {
  margin-left: 20px;
}

.page-not-found {
  opacity: .3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20vw;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

* ::-webkit-scrollbar {
  display: none;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0 8vh 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-summary {
  margin: 10px;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */